.home-page {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .home-page {
    font-family: "Times New Roman", Times, serif;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
  }
  
  .content {
    text-align: center;
    color: #333;
    max-width: 600px;
    margin: 0 auto; 
  }
  
  .content p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  
  .content h5 {
    font-size: 1.2rem;
    font-style: italic;
    color: #555; 
    margin-bottom: 2rem;
  }
  
  button {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #2980b9; 
    transform: scale(1.05); 
  }
  
.about-link {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

.about-link:hover {
  background-color: #2980b9;
}


