.contact-me {
    margin: 0 auto;
    padding: 35px;
    background-color: #f8f8f8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 18px;
    max-width: 1300px;
    margin-top: 50px;
    margin: 0 auto;
  padding: 35px;
  background-color: #f8f8f8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: "justify";
  font-size: "3vh";
  }
  
  .contact-me h2 {
    color: #3498db;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-top: 30px;
  }
  
  .contact-item {
    margin-bottom: 20px;
  }
  
  .contact-item h4 {
    color: #3498db;
  }
  
  .contact-form {
    margin-top: 30px;
  }
  
  .contact-form h3 {
    color: #3498db;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 15px;
  }
  
  label {
    font-size: 1.2rem;
    color: #333;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color: #217dbb;
  }
  